
.logo{

       display: block;
    margin: auto;
   background-color: #87CEEB;
}
body {
    max-width: 500px;
    margin:auto;
    background-color:   #87CEEB;
    padding: 10px;
    Text-align:center;
       color:white;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #87CEEB;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #717171;
}

.active {
    background-color: #717171;
}
@media screen (max-width: 600px){
    ul.topnav ul.right, 
    ul.topnav li {float: none;}
}
